<section class="cart py-8">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b-2 border-gray-300 pb-2">
            <img src="img/cart-black.png" alt=" cart image">
            <h1 class="text-2xl ml-4 font-bold">Order summary</h1>
        </div>
        <div class="pizza-list">
            <div class="pizza-list-item flex justify-around items-center my-6">
                <img class="w-24" src="img/pizza.png" alt="pizza image">
                <div class="flex-1 ml-4">
                    <h2>Marinara</h2>
                    <span class="uppercase text-xs">medium</span>
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-xl">₹300</span>
            </div>
            <div class="pizza-list-item flex justify-around items-center my-6">
                <img class="w-24" src="img/pizza.png" alt="pizza image">
                <div class="flex-1 ml-4">
                    <h2>Marinara</h2>
                    <span class="uppercase text-xs">medium</span>
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-xl">₹300</span>
            </div>
            <div class="pizza-list-item flex justify-around items-center my-6">
                <img class="w-24" src="img/pizza.png" alt="pizza image">
                <div class="flex-1 ml-4">
                    <h2>Marinara</h2>
                    <span class="uppercase text-xs">medium</span>
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-xl">₹300</span>
            </div>

        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total amount:</span>
                <span class="amount ml-2 text-2xl font-bold">300</span>
            </div>
            <div>
                <form action="" class="">
                    <input class="border border-gray-400 my-2 p-2 w-1/2" type="text" placeholder="Phone number">
                    <input class="border border-gray-400 my-2 p-2 w-1/2" type="text" placeholder="Your address">
                    <div>
                        <button class="btn-primary rounded-full px-6 py-2 mt-2 text-white font-bold">Order now</button>
                    </div>
                </form>
            </div>
            <!-- <a href="/login" class="inline-block cursor-pointer btn-primary rounded-full px-6 py-2 mt-2 text-white font-bold">Login to continue</a> -->
        </div>
    </div>
    <!-- <div class="empty-cart py-4">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold">Cart Empty</h1>
            <p class="mt-2  text-gray-500 text-lg">You probably haven't ordered a pizza yet.<br>
                To order a pizza, go to the main page.</p>
            <img class="w-2/5 mt-8 mx-auto" src="img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block btn-primary mt-4 px-6 py-2 rounded-full text-white font-bold" >Go back</a>
        </div>
    </div> -->
</section>